
<div layout="row" >
  <div  ng-value="x" ng-repeat="x in jsonProductData | limitTo:4">
    <div flex="15" style="background-color:lightyellow;">
    </div>
    <div flex="80" layout="row" style="background-color:lightblue;">


      <div flex="40" >
        <md-card>
          <md-card-header>
            <md-card-avatar>
          <img ng-src="{{x.description.small}}" class="md-card-image" alt="image caption">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{x.name}}</span>
              <span class="md-subhead">Card subheader</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="start center">
            <md-button>Action 1</md-button>

            <md-card-icon-actions>
              <md-button class="md-icon-button" aria-label="icon">
                <md-icon md-svg-icon="icon"></md-icon>
              </md-button>
            </md-card-icon-actions>
          </md-card-actions>
          <md-card-content>
            <p>
             Card content
            </p>
          </md-card-content>
        </md-card>
        <div flex="20" style="background-color:lightgreen;">

        </div>
      </div>

</div>


 </div>
</div>
 <!-- <div layout="row">
  <div flex="20">
    [flex="20"]
  </div>
  <div flex="70">
    [flex="70"]
  </div>
  <div flex hide-sm hide-xs>
    [flex]
  </div>
</div> -->
