
<div layout="row">
  <div flex="30">
  </div>
  <div flex="40" style="padding:0px;margin:120px 0 0 0;">
  <div flex="50" style="background-color:red">
  </div>
  <md-card >
          <md-toolbar md-colors="{color:'md-raised md-secondary', 'border-color': 'md-primary}">
              <h2 class="md-toolbar-tools">
              <span>Login</span>
              </h2>
          </md-toolbar>
          <form name="myForm">
                <md-content style="overflow:hidden">
                          <md-input-container class="md-block">
                                <input ng-model="email" name="email" type="email" placeholder="Email(required)" required>
                                <div ng-messages="myForm.email.$error">
                                <div ng-message="required">Email is required.</div>
                                <div ng-message="email">Invalid email address.</div>
                                </div>
                          </md-input-container>
                          <md-input-container  class="md-block">
                                    <md-icon></md-icon>
                                    <input ng-model="password" type="password" name="password" placeholder="Password" required   minlength="5" md-maxlength="10">
                                    <div ng-messages="myForm.password.$error">
                                        <div ng-message="required">Password is required...!</div>
                                        <div ng-message="md-maxlength">Password is too Long...!</div>
                                        <div ng-message="minlength">Password is too short...!</div>
                                    </div>
                          </md-input-container>
                  </md-content>
               <a ui-sref='home'>
                            <center><md-button class="md-primary md-raised">Login</md-button></center>
               </a>
          </form>
</md-card>
          </div>
          <div flex="30" >
          </div>
</div>
