
<div layout="row">
  <div flex="30">
  </div>
  <div flex="40" style="padding:0px;margin:120px 0 0 0;">
  <div flex="50" style="background-color:red">
  </div>
  <md-card >
          <md-toolbar>
              <h2 class="md-toolbar-tools">
              <span>Login</span>
              </h2>
          </md-toolbar>
          <form name="myForm"  novalidate ng-submit="myForm.$valid &&sendHome()">
                <md-content style="overflow:hidden">
                          <md-input-container class="md-block">
                                <input ng-model="email" name="email" type="email"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="Email(required)">
                                <span style="color:Red" ng-show="myForm.email.$error.required"> Required! </span>
                                <span style="color:Red" ng-show="myForm.email.$dirty&&myForm.email.$error.pattern">Please Enter Valid Email</span>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <input ng-model="password" type="password" name="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{7,}$/" placeholder="Password">
                                     <span class="error" ng-show=" (myForm.Password.$dirty) && myForm.Password.$error.required">Required</span>
                                     <span class="error" ng-show=" (myForm.Password.$dirty) && myForm.Password.$error.minlength">Mini 7 characters</span>
                          </md-input-container>
                  </md-content>
                  <span >
               <a  ui-sref='home'>
              <center><md-button class="md-primary md-raised" ng-disabled='!myForm.$valid' type="submit">Login</md-button></center>
               </a>
             </span>
          </form>
</md-card>
    </div>
          <div flex="30" >
          </div>
</div>
