
    <md-toolbar class="md-hue-2" class="md-toolbar-tools" style="height: 1000px;">

      <!-- <md-button ng-click="toggleLeft()" class="md-toolbar-tools md-primary md-raised">
         <span><md-icon><i class="material-icons">lock</i></md-icon></span>
      </mg-button> -->
      <div layout="column" style="height: 1000px;" ng-cloak>
      <span style="text-indent:1em;color:#FFFFFF">  <span><md-button ng-click="toggleLeft()" class="md-raised">
        <span><md-icon><i class="material-icons">home</i></md-icon></span>
      </md-button>
      </span>Single Page App Without A FrameWork</span>

      <section layout="row" flex="">

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools"></h1>
          </md-toolbar>

            <md-button ng-click="toggleLeft()" class="md-accent">
              Close this Sidenav
            </md-button>
          </md-content>

        </md-sidenav>

        <md-content flex="" layout-padding="">

          <div layout="column" layout-align="top center">





          </div>

        </md-content>

      </section>
    </div>
</md-toolbar>
