<md-toolbar>
<div class="md-toolbar-tools">
   <md-button ng-click="toggleLeft()" class="md-primary md-raised md-icon-button"  aria-label="sidebar">
           <span><md-icon><i class="material-icons">menu</i></md-icon></span>
   </md-button>
   <h2>Mobile App</h2>
   <span style="margin:0 0 0 64%;">
       <md-button ng-click="sendLogin()" class="md-primary md-raised md-icon-button" aria-label="logout">
                <span><md-icon><i class="material-icons">exit_to_app</i></md-icon></span>
       </md-button>
   </span>
 </div>
</md-toolbar>


<md-content class="md-padding" layout-xs="column" layout="row"  style="height:200px width:200px;">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card layout-align="center center">
        <img ng-src="images/sony-xperia-z3-large.jpg" class="md-card-image" alt="Washed Out">
      </img>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">sony-xperia-z3</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>

         <p>
           <strong>manufacturer:</strong>Apple<br>
           <strong>storage</strong>: 16<br>
           <strong>os</strong>:iOS<br>
           <strong>camera</strong>: 8<br>
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
        </md-card-actions>
      </md-card>
</md-content>
    <md-card>
     <img ng-src="images/sony-xperia-z3.jpg" class="md-card-image" alt="iphone6">
     <md-card-title>
       <md-card-title-text>
         <span class="md-headline"><strong><h1>sony-xperia-z3</h1</span>
       </md-card-title-text>
     </md-card-title>
     <md-card-actions layout="row" layout-align="start center">
       <md-card-icon-actions>
         <md-button class="md-icon-button" aria-label="Favorite">
           <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
         </md-button>
         <md-button class="md-icon-button" aria-label="Share">
           <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
         </md-button>
       </md-card-icon-actions>
       <md-button>Action 1</md-button>
     </md-card-actions>
     <md-card-content>
       <p>
       <div><strong>meteranufacturer:</strong>Apple</div>
       </p>
     </md-card-content>
   </md-card>
