<section layout="row">
    <md-sidenav style="margin-top:4.0em;width:200px;height:790px; "  class="md-sidenav-left" md-component-id="left"  md-disable-backdrop md-whiteframe="4">
      <md-content  flex layout-padding>
        <div layout="row" layout-wrap>

    <div flex="100" layout-align="center" layout="column">
      <div>
        <fieldset class="standard">
          <legend><strong>Manufacturer <strong></legend>
            <div ng-repeat="data in jsonProductData | unique: 'specs.manufacturer'">
            <md-checkbox md-no-ink ng-model="hasInk1" aria-label="No Ink Effects" ng-value="data">
              {{data.specs.manufacturer}}
            </md-checkbox>
          </div>
        </fieldset>
      </div>
    </div>
   <div layout-padding>
   </div>
    <div flex="100" layout-align="center" layout="column">
      <div>
        <fieldset class="standard">
          <legend><strong>Screen Size<strong></legend>
            <div ng-repeat="data in jsonProductData | unique: 'specs.storage'">
            <md-checkbox md-no-ink ng-model="hasInk1" aria-label="No Ink Effects" ng-value="data">
              {{data.specs.storage}}
            </md-checkbox>
          </div>

        </fieldset>
      </div>
    </div>


    <div layout-padding>
    </div>
     <div flex="100"  layout-align="center" layout="column">
       <div>
         <fieldset class="standard">
           <legend><strong>OS<strong></legend>
             <div ng-repeat="data in jsonProductData | unique: 'specs.os'">
             <md-checkbox md-no-ink ng-model="hasInk1" aria-label="No Ink Effects" ng-value="data">
               {{data.specs.os}}
             </md-checkbox>
           </div>
         </fieldset>
       </div>
     </div>

     <div layout-padding>
     </div>
      <div flex="100"  layout-align="center" layout="column">
        <div>
          <fieldset class="standard">
            <legend>Camera </legend>
            <div ng-repeat="data in jsonProductData | unique: 'specs.camera'">
            <md-checkbox md-no-ink ng-model="hasInk1" aria-label="No Ink Effects" ng-value="data">
              {{data.specs.camera}}
            </md-checkbox>
          </div>
          </fieldset>
        </div>
      </div>

  </div>
      </md-content>
  </md-sidenav>

</section>
