<div >
<md-toolbar class="md-hue-2" class="jumbotron text-center" style="position:fixed;">
  <div class="md-toolbar-tools">
    <md-button class="md-secondary  md-icon-button button" aria-label="sidenav" ng-click="toggleLeft()">
      <span><md-icon><i class="material-icons">menu</i></md-icon></span>
    </md-button>
    <h2 flex style>Mobile App</h2>
    <a ui-sref='login'>
      <md-button  class="md-secondary md-icon-button button" aria-label="logout">
               <span><md-icon><i class="material-icons">exit_to_app</i></md-icon></span>
      </md-button>
    </a>
      </div>
</md-toolbar>
</div>
